<div class="modal-body">
  <div class="pull-right editor-title" ng-controller="i18n_ctrl">面板设置</div>

  <div ng-model="editor.index" ng-controller="i18n_ctrl" bs-tabs style="text-transform:capitalize;">
    <div ng-repeat="tab in ['通用设置','索引表','行','控件']" data-title="{{tab}}">
    </div>
    <div ng-repeat="tab in dashboard.current.nav|editable" data-title="{{tab.title || tab.type}}">
    </div>
  </div>

  <div ng-if="editor.index == 0">
    <div class="editor-row">
      <div class="section">
        <div class="editor-option">
          <label class="small">标题</label><input type="text" class="input-large" ng-model='dashboard.current.title'></input>
        </div>
        <div class="editor-option">
          <label class="small">风格</label><select class="input-small" ng-model="dashboard.current.style" ng-options="f for f in ['cerulean','dark','light']"></select>
        </div>
        <div class="editor-option">
          <label class="small">可编辑</label><input type="checkbox" ng-model="dashboard.current.editable" ng-checked="dashboard.current.editable" />
        </div>
        <div class="editor-option">
          <label class="small">提示<tip>在空白区域显示 '添加面板' 提示</tip></label><input type="checkbox" ng-model="dashboard.current.panel_hints" ng-checked="dashboard.current.panel_hints" />
        </div>
      </div>
    </div>
  </div>
  <div ng-if="editor.index == 1">
    <div class="editor-row">
      <div class="section">
        <h5>索引设置</h5>
        <div ng-show="dashboard.current.index.interval != 'none'" class="row-fluid">
           <div class="editor-option">
            <p class="small">
              带时间字段的索引根据选择的时间段挑选出需要查询的索引名。不同的索引设计可能对应有不同的挑选匹配方式。比如对于缺省配置的logstash索引，你只需要输入
              <code>[logstash-]YYYY.MM.DD</code>这种格式。"[logstash-]"其中的[]部分用来指明这些是固定字符串，不是匹配字符串。 你也可以输入多个用逗号分开的索引名格式。
              比如 <code>[web-]YYYY.MM.DD,[mail-]YYYY.MM.DD</code>
              请注意这里假设日志是按照<strong>格林威治标准时间在午夜</strong>产生新文件。
            </p>
            <p class="small">
              请参考 <a href="http://momentjs.com/docs/#/displaying/format/">http://momentjs.com/docs/#/displaying/format/</a>
              了解更多时间字段格式化方式.
            </p>
           </div>
         </div>
      </div>
    </div>
    <div class="editor-row">
      <div class="section">
        <div class="editor-option">
          <h6>时间字段</h6><select class="input-small" ng-model="dashboard.current.index.interval" ng-options="f for f in ['none','hour','day','week','month','year']"></select>
        </div>
        <div class="editor-option" ng-show="dashboard.current.index.interval != 'none'">
          <h6>时间匹配字符串 <small>[]内定义</small></h6>
          <input type="text" class="input-large" ng-model="dashboard.current.index.pattern">
        </div>
        <div class="editor-option" ng-show="dashboard.current.index.interval != 'none'">
          <h6>无匹配时用缺省索引 <i class="icon-question-sign" bs-tooltip="'如果没有任何索引匹配上，转回用缺省索引。 *不推荐此方式*'"></i></h6>
          <input type="checkbox" ng-model="dashboard.current.failover" ng-checked="dashboard.current.failover" />
        </div>
        <div class="editor-option" ng-show="dashboard.current.failover || dashboard.current.index.interval == 'none'">
          <h6>缺省索引 <small ng-show="dashboard.current.index.interval != 'none'">如果无匹配索引</small></h6>
          <input type="text" class="input-medium" ng-model="dashboard.current.index.default">
        </div>
        <div class="editor-option">
          <h6>预加载字段 <i class="icon-question-sign" bs-tooltip="'预加载字段名，以便自动输入。字段过多时请关闭此功能'"></i></h6>
          <input type="checkbox" ng-model="dashboard.current.index.warm_fields" ng-checked="dashboard.current.index.warm_fields" />
        </div>
      </div>
    </div>
  </div>

  <div ng-if="editor.index == 2">
    <div class="row-fluid">
      <div class="span8">
        <h4>行</h4>
        <table class="table table-striped">
          <thead>
            <th width="1%"></th>
            <th width="1%"></th>
            <th width="1%"></th>
            <th width="97%">标题</th>
          </thead>
          <tr ng-repeat="row in dashboard.current.rows">
            <td><i ng-click="_.move(dashboard.current.rows,$index,$index-1)" ng-hide="$first" class="pointer icon-arrow-up"></i></td>
            <td><i ng-click="_.move(dashboard.current.rows,$index,$index+1)" ng-hide="$last" class="pointer icon-arrow-down"></i></td>
            <td><i ng-click="dashboard.current.rows = _.without(dashboard.current.rows,row)" class="pointer icon-remove"></i></td>
            <td>{{row.title||'未命名'}}</td>
          </tr>
        </table>
      </div>
      <div class="span4">
        <h4>添加行</h4>
        <label class="small">标题</label>
        <input type="text" class="input-medium" ng-model='row.title' placeholder="New row"></input>
        <label class="small">高</label>
        <input type="text" class="input-mini" ng-model='row.height'></input>
      </div>
    </div>
    <div class="row-fluid">

    </div>
  </div>

  <div ng-if="editor.index == 3" ng-controller="dashLoader">
    <div class="editor-row">
      <div class="section">
        <h5>保存为...</h5>
        <div class="editor-option">
          <label class="small">导出...</label><input type="checkbox" ng-model="dashboard.current.loader.save_local" ng-checked="dashboard.current.loader.save_local">
        </div>
        <div class="editor-option">
          <label class="small">浏览器</label><input type="checkbox" ng-model="dashboard.current.loader.save_default" ng-checked="dashboard.current.loader.save_default">
        </div>
        <div class="editor-option">
          <label class="small">Elasticsearch</label><input type="checkbox" ng-model="dashboard.current.loader.save_elasticsearch" ng-checked="dashboard.current.loader.save_elasticsearch">
        </div>
      </div>
      <div class="section">
        <h5>打开...</h5>
        <div class="editor-option">
          <label class="small">本地文件</label><input type="checkbox" ng-model="dashboard.current.loader.load_local" ng-checked="dashboard.current.loader.load_local">
        </div>
        <div class="editor-option">
          <label class="small">Elasticsearch</label><input type="checkbox" ng-model="dashboard.current.loader.load_elasticsearch" ng-checked="dashboard.current.loader.load_elasticsearch">
        </div>
        <div class="editor-option" ng-show="dashboard.current.loader.load.elasticsearch">
          <label class="small">ES列表大小</label><input class="input-mini" type="number" ng-model="dashboard.current.loader.load_elasticsearch_size">
        </div>
      </div>
      <div class="section">
      <h5>分享</h5>
        <div class="editor-option" >
          <label class="small">允许分享 <tip>允许为面板产生链接分享</tip></label><input type="checkbox" ng-model="dashboard.current.loader.save_temp" ng-checked="dashboard.current.loader.save_temp">
        </div>
        <div class="editor-option" ng-show="dashboard.current.loader.save_temp">
          <label class="small">超时失效 <tip>链接一段时间后自动失效</tip></label><input type="checkbox" ng-model="dashboard.current.loader.save_temp_ttl_enable">
        </div>
        <div class="editor-option" ng-show="dashboard.current.loader.save_temp &amp;&amp; dashboard.current.loader.save_temp_ttl_enable">
          <label class="small">超时长 <tip>Elasticsearch的时间格式, 比如: 1月,1天,1年,30天  </tip></label><input class="input-small" type="text" ng-model="dashboard.current.loader.save_temp_ttl">
        </div>
      </div>
      <div class="section">
      <h5>配置仪表盘</h5>
        <div class="editor-option" >
          <label class="small">允许配置 <tip>允许配置仪表盘选项</tip></label><input type="checkbox" ng-model="dashboard.current.editable" ng-checked="dashboard.current.editable">
        </div>
      </div>
    </div>
  </div>

  <div ng-if="editor.index == 3">
    <div class="editor-row">
      <div class="section">
        <h5>下拉面板</h5>
        <div class="editor-option" ng-repeat="pulldown in dashboard.current.pulldowns">
          <label class="small" style="text-transform:capitalize;">{{pulldown.title}}</label><input type="checkbox" ng-model="pulldown.enable" ng-checked="pulldown.enable">
        </div>
        <div class="editor-option" ng-repeat="pulldown in dashboard.current.nav|editable">
          <label class="small" style="text-transform:capitalize;">{{pulldown.title}}</label><input type="checkbox" ng-model="pulldown.enable" ng-checked="pulldown.enable">
        </div>
      </div>
    </div>
  </div>

  <div ng-repeat="pulldown in dashboard.current.nav|editable" ng-controller="PulldownCtrl" ng-show="editor.index == 4+$index">
    <ng-include ng-show="pulldown.enable" src="edit_path(pulldown.type)"></ng-include>
    <button ng-hide="pulldown.enable" class="btn" ng-click="pulldown.enable = true">允许使用 {{pulldown.type}}</button>
  </div>


</div>

<div class="modal-footer">
  <button type="button" ng-click="add_row(dashboard.current,row); reset_row();" class="btn btn-info" ng-show="editor.index == 2">添加行</button>
  <button type="button" class="btn btn-success" ng-click="editor.index=0;editSave(dashboard);dismiss();reset_panel();dashboard.refresh()">保存</button>
  <button type="button" class="btn btn-danger" ng-click="editor.index=0;dismiss();reset_panel();dashboard.refresh()">取消</button>
</div>
