agent.pool.size=5
#what for agent file read ,where  pos tore,when process file this is must be set
#  new only can use:sss
#1.com.hansight.kunlun.collector.position.store.SQLiteReadPositionStore
#2.com.hansight.kunlun.collector.position.store.FileReadPositionStore
agent.read.position.store.class=com.hansight.kunlun.collector.position.store.SQLiteReadPositionStore
# where to store the file pos has processed;
agent.read.position.store.position=./
# how Many of the line to store the file pos;
agent.read.position.store.offset=5000
# how Much of the file buffer size to process;
agent.file.reader.thread.buffer=1048576
# max size that the reader product while to wait writer
agent.queue.thread.max.size=10000
# the size cache for write once
agent.write.cache.size=1000
# how ms that the reader  wait writer once
processor.thread.wait.times=1000
#use.metric=true
#metric.path=./metric/
agent.id=agent