s-sitename=s_sitename
s-computername=s_computername
s-ip=s_ip
cs-method=cs_method
cs-uri-stem=cs_uri_stem
cs-uri-query=cs_uri_query
s-port=s_port
cs-username=cs_username
c-ip=c_ip
cs-version=cs_version
cs(User-Agent)=cs_useragent
cs(Cookie)=cs_cookie
cs(Referer)=cs_referer
cs-host=cs_host
sc-status=sc_status
sc-substatus=sc_substatus
sc-win32-status=sc_win32_status
sc-bytes=sc_bytes
cs-bytes=cs_bytes
time-taken=time_taken