  <div class="editor-row">
    <div class="section">
      <div class="editor-option">
        <label class="small">相对时间段 <small>逗号分割</small></label>
        <input type="text" array-join class="input-large" ng-model="panel.time_options">
      </div>
      <div class="editor-option">
        <label class="small">自动刷新 <small>逗号分割</small></label>
        <input type="text" array-join class="input-large" ng-model="panel.refresh_intervals">
      </div>
      <div class="editor-option">
        <label class="small">时间字段</label>
        <input type="text" class="input-small" ng-model="panel.timefield">
      </div>
    </div>
  </div>
